<div class="center">
      <img src="/img/google.png" />
      <form action="/results" method="post">
        <input name="thebunnyrabbit" type="text"/>
        <button class="Search">Search</button>
			</input>
      </form>
    </div>
