/* Text */
body {
  font-family: "Helvetica", sans-serif;
  font-size: 12px;
  color: #5b5b5b;
}
h2 {
  font-size: 24px;
  margin-top: 50px;
  margin-left: 140px;
}
h2 a {
  color: #1a0dab;
}
h2 a:visited {
  color: #660099;
}
p {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 140px;
}
small {
  display: block;
  font-size: 14px;
  margin-left: 140px;
  margin-top: 60;
}
span.results {
  margin-top: 20px;
  margin-bottom: 0px;
  margin-left: 140px;
}
nav.immy {
  width: 100px;
  margin-left: 140px;
}
nav {
  display: grid;
  border: 1px solid #c4c4c4;
  grid-template-columns: 110px auto;
  grid-column-gap: 30px;
}
nav form {
  display: grid;
  margin-left: 40px;
  grid-template-columns: 400px auto;
  grid-column-gap: 50px;
}
div.web3 {
  margin-bottom: 0px;
  margin-top: 120px;
}
div.mo {
  margin-bottom: 0px;
  margin-top: 60px;
}

div.wiki {
  margin-bottom: 0px;
  margin-top: 60px;
  margin-left: 0;
}

nav form input {
  width: 400px;
  padding-left: 20px;
  box-sizing: center;
  border: 1px solid #c4c4c4;
  border-radius: 40px;
  height: 40px;
}
.center form input {
  width: 400px;
  padding-left: 20px;
  box-sizing: center;
  border: 1px solid #c4c4c4;
  border-radius: 40px;
  margin-top: 20px;
  height: 40px;
}
.center form input:focus {
  outline: none;
}
button {
  border-radius: 5px;
  border: 1px solid #1a5fd0;
  width: 80px;
  background-color: #4285f3;
  color: white;
  height: 40px;
}
button:hover {
  background-color: #5998ff;
}

.Searchy {
  border-radius: 5px;
  border: 1px solid #1a5fd0;
  width: 80px;
  background-color: #4285f3;
  height: 40px;
}
.Searchy:hover {
  background-color: #5998ff;
}
.text input {
  margin-right: 20px;
  padding: 100px;
  height: 100px;
}
li {
  display: inline;
  margin-right: 10px;
}
ul {
  padding-left: 0;
  margin-left: 140px;
}

/* Images */
div.center {
  margin: auto;
  text-align: center;
  width: 400px;
  padding: 10px;
}
img {
  width: 150px;
}
/* Links */
